{% extends 'layout.html.twig' %}

{% block title %} Toutes les catégories {% endblock %}

{% block content %}
    <h1>Les catégories</h1>
    <ul>
        {% for category in categories %}
            <li>
            <a href="/category/{{ category.id }}">
                {{ category.name }}
            </a>
            </li>
        {% endfor %}
    </ul>
    <form action="/category/add" method="post">
        Nouvelle categorie :<br>
        <input type="text" name="name"><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}


