<form action="/category/{{ category.id }}/update" method="post">
        Modifier cette catégorie : <br>
        <input type="text" name="name" value="{{ category.name }}"><br>
        <input type="submit" value="Submit">
</form>