<form action="/item/{{ item.id }}/update" method="post">
        Modifier cet item : <br>
        <input type="text" name="title" value="{{ item.title }}"><br>
        <input type="submit" value="Submit">
</form>