{% extends 'layout.html.twig' %}

{% block title %} Un item {% endblock %}

{% block content %}
    <h2>Numéro de l'item : {{ item.id }}</h2>
    <ul>
        <li>{{ item.title }}</li>

    </ul>
    <a href="/item/{{ item.id }}/edit">Modifier</a>
    <form action="/item/{{ item.id }}/delete" method="post">
        <input type="submit" value="Supprimer">
    </form>

    <a href='/'>Back to list</a>
{% endblock %}

