{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Numéro de l'item : {{ item.id }}</h2>
    <ul>
        <li>{{ item.title }}</li>

    </ul>
    <a href='/'>Back to list</a>
{% endblock %}

